name: plactice create-pull-request

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Update time
      run: |
        node index.js

    - uses: peter-evans/create-pull-request@v2.7.0
      name: Create Pull Request
      id: cpr
      with:
        token: ${{ secrets.BOT_TOKEN }}
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
        echo "Pull Request Number - ${{ steps.cpr.outputs.pr_number }}"
